*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}
.navbar-light a.navbar-brand,
.navbar-light a.navbar-brand:hover {
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 1px;
  color: #121c33;
}
